@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-primary-white: #ffffff;
  --clr-secondary-purple: #a301cb;
  --clr-secondary-ash: #6d6d6d;
  --clr-sec-premium-ash: #767676;
  --clr-sec-sidebar-ash: #d6d6d6;

  --clr-bg-black: #151515;
  --clr-bg-nav-ash: #282828;
  --clr-bg-lightmode-ash: #f6f6f6;
  --clr-stat-purple: #cc00ff;

  --clr-text-black: #262626;
  --clr-text-white: #ffffff;
  --clr-text-red: var(--clr-secondary-red);

  --font-openSans: "Open Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* START */

body {
  display: grid;
  grid-template-columns: 20% 47% 1fr;
  max-width: 1610px;
  overflow-x: hidden;
}

/* NAV */
body h1 {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-openSans);
  padding: 50px 0;
}
body h1 a {
  text-decoration: none;
  color: var(--clr-text-white);
}
nav ul li {
  font-weight: 400;
  font-size: 1rem;
  padding: 25px 0 25px 44px;
  list-style-type: none;
  cursor: pointer;
  margin: 10px auto;
  /* transition: all ease-in-out 300ms; */
}
nav ul li:hover {
  background-color: hsl(0, 0%, 24%);
}
nav ul li.active-nav {
  background-color: var(--clr-bg-black);
  color: var(--clr-secondary-purple);
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 300ms;
}
nav .bi {
  margin-right: 14px;
  width: 20px;
  height: 20px;
}
nav {
  background-color: var(--clr-bg-nav-ash);
  color: var(--clr-sec-sidebar-ash);
  font-family: var(--font-openSans);
  padding-left: 54px;
}
.prefer-color {
  margin-top: 300px;
  text-align: center;
}
.prefer-color button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}
.prefer-color button .bi-brightness-high {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

/* NAV LIGHT MODE */
nav.light {
  background-color: var(--clr-secondary-purple);
  color: white;
  transition: 0.5s linear;
}
nav.light ul .active-nav {
  background-color: var(--clr-bg-lightmode-ash);
}
nav.light ul li:hover {
  background-color: rgba(246, 246, 246, 0.219);
}
nav.light ul .active-nav:hover {
  background-color: var(--clr-bg-lightmode-ash);
}

/* MIDDLE */
section .search-song,
section .user-info {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-openSans);
  margin: 50px 0;
}
.middle-area {
  padding: 0 45px;
  background-color: var(--clr-bg-black);
}
section .search-song {
  width: 500px;
  background-color: var(--clr-bg-nav-ash);
  padding: 12px 20px;
  border-radius: 25px;
  display: flex;
}
.middle-area .search-song button {
  border: none;
  background: none;
  cursor: pointer;
}
section .search-song .bi {
  color: var(--clr-primary-white);
  cursor: pointer;
}
section .search-song input {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--clr-sec-sidebar-ash);
  font-size: 18px;
  width: 100%;
}
section .subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  padding-left: 33px;
  color: var(--clr-text-white);
  font-weight: 400;
  font-size: 24px;
  font-family: var(--font-openSans);
  background-color: var(--clr-bg-nav-ash);
  margin-bottom: 38px;
}
section .subscribe span {
  color: var(--clr-sec-premium-ash);
  font-size: 1rem;
}
section .subscribe img {
  width: 300px;
  height: 200px;
}
section .subscribe button {
  display: block;
  color: var(--clr-primary-white);
  background-color: var(--clr-secondary-purple);
  font-family: var(--font-poppins);
  font-size: 16px;
  margin-top: 15px;
  border: none;
  padding: 13px 76px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s linear;
}
section .subscribe button:hover {
  background-color: #cc00ff;
}

.heading-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: var(--clr-text-white);
  font-family: var(--font-openSans);
}
.heading-flex button {
  color: var(--clr-secondary-purple);
  background: none;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.heading-flex button:hover {
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}
.heading-flex h2 {
  font-size: 18px;
  font-weight: 500;
}
.playlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  gap: 10px;
  margin-bottom: 54px;
}
.playlist .set-playlist .bi-plus-circle {
  position: absolute;
  color: var(--clr-stat-purple);
  font-size: 60px;
  right: 30%;
  top: 10%;
}

.playlist .set-playlist {
  width: 158px;
  height: 224px;
  border-radius: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: var(--clr-bg-nav-ash);
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.5s linear;
}
.playlist .set-playlist:hover {
  background-color: hsl(0, 1%, 20%);
}
.playlist .set-playlist .bi-play-circle {
  position: absolute;
  top: 25%;
  right: 42%;
  font-size: 25px;
  color: var(--clr-text-white);
  opacity: 0;
  transition: all ease-in-out 300ms;
}
.playlist .set-playlist:hover .bi-play-circle {
  opacity: 100%;
}
.playlist .set-playlist img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.artist-info {
  margin: 140px 10px 0 10px;
  font-weight: 500;
  font-size: 14px;
  z-index: 3;
  border-radius: 10px;
  position: relative;
}
.artist-info p {
  color: var(--clr-primary-white);
  font-family: var(--font-poppins);
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}
.artist-info .grey-text {
  color: #6d6d6d;
  font-weight: 400;
}

#player_interface {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 371px;
  /* border: 1px solid red; */
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}
#player_interface .lyrics_div {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  font-size: 1rem;
  text-align: center;
  font-family: var(--font-poppins);
  /* border: 1px solid purple; */
  overflow-y: auto;
}
#player_interface .lyrics_div::-webkit-scrollbar {
  display: flex;
}
#player_interface .lyrics_div h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
#player_interface .masterPlay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid blue; */
  position: relative;
  padding: 10px 0;
  width: 100%;
  height: 80px;
}
.middle-area.light #player_interface {
  color: var(--clr-text-black);
}
.middle-area #player_interface {
  color: var(--clr-bg-lightmode-ash);
}
.middle-area #player_interface .progressBar {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  width: 100%;
}
.middle-area #player_interface .progressBar span {
  padding: 0 10px;
  font-size: 18px;
  font-family: var(--font-poppins);
}
.middle-area #player_interface .progressBar input {
  width: 100%;
  background-color: transparent;
}
#player_interface .masterPlay button {
  color: inherit;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}
.middle-area #player_interface .masterPlay .seek-btns {
  display: flex;
  width: 20%;
  justify-content: space-between;
  justify-self: center;
}
.middle-area #player_interface .masterPlay .playing-track-details {
  display: flex;
  gap: 10px;
  align-items: center;
}
.middle-area #player_interface .masterPlay .playing-track-details img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.middle-area #player_interface .masterPlay .playing-track-details p {
  display: flex;
  flex-direction: column;
  font-family: var(--font-poppins);
  font-weight: 500;
}
.middle-area #player_interface .masterPlay .playing-track-details p span {
  color: var(--clr-secondary-ash);
}
#player_interface .masterPlay .wave {
  width: 40px;
  height: 40px;
  /* border: 1px solid green; */
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#player_interface .masterPlay .wave span {
  width: 4px;
  height: 15px;
  margin-right: 5px;
  border-radius: 10px 10px 0px 0px;
  background: #a301cb;
  animation: unset;
}
#player_interface .masterPlay .wave span:nth-child(2) {
  height: 20px;
}
#player_interface .masterPlay .wave span:nth-child(3) {
  height: 12px;
}
#player_interface .masterPlay .wave span:nth-child(4) {
  height: 8px;
}
/* js class active-wave */
#player_interface .masterPlay .active-wave span {
  animation: wave 0.8s linear infinite;
}
#player_interface .masterPlay .active-wave span:nth-child(2) {
  height: 18px;
  animation-delay: 0.4s;
}
#player_interface .masterPlay .active-wave span:nth-child(3) {
  height: 12px;
  animation-delay: 0.3s;
}
#player_interface .masterPlay .active-wave span:nth-child(4) {
  height: 8px;
  animation-delay: 0.1s;
}

@keyframes wave {
  0% {
    height: 18px;
  }
  50% {
    height: 25px;
  }
  100% {
    height: 15px;
  }
}
/* MIDDLE AREA LIGHT MODE */
section.light,
.middle-area.light {
  background-color: var(--clr-bg-lightmode-ash);
  color: var(--clr-text-black);
  transition: 0.5s linear;
}
section.light .search-song .bi {
  color: var(--clr-bg-nav-ash);
}
.middle-area.light .heading-flex h2 {
  color: var(--clr-text-black);
}
.middle-area.light .search-song,
.middle-area.light .subscribe,
.middle-area.light .set-playlist {
  background-color: var(--clr-primary-white);
  color: var(--clr-text-black);
}
.middle-area.light .set-playlist .artist-info p {
  color: var(--clr-text-black);
}
.middle-area.light .playlist .set-playlist:hover {
  background-color: #2626263b;
}
/* RIGTH AREA */
.right-area {
  background-color: var(--clr-bg-black);
  padding-right: 30px;
  color: var(--clr-primary-white);
  font-family: var(--font-poppins);
  width: 550px;
}
.right-area .user-info {
  display: flex;
  gap: 32px;
  margin-right: 32px;
  align-items: center;
  justify-content: flex-end;
}
.user-info button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-primary-white);
}
.user-info img {
  cursor: pointer;
}
.user-info .dropdown {
  position: relative;
}
.user-info .dropdown-menu {
  position: absolute;
  padding: 20px;
  /* width: 400px; */
  height: max-content;
  background-color: var(--clr-bg-nav-ash);
  top: 73px;
  right: 0;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 10px 10px 452px 20px var(--clr-secondary-ash);
  transform: translateY(-500px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s linear;
  text-wrap: wrap;
}
.user-info .dropdown.active-dropdown .dropdown-menu {
  transform: translateY(0);
  opacity: 100%;
  pointer-events: auto;
}
.user-info .dropdown-menu ul {
  list-style-type: none;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-info .dropdown-menu h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.right-area.light .user-info .dropdown-menu {
  background-color: var(--clr-primary-white);
  color: var(--clr-text-black);
}

/* GENRE */
.right-area .genre-container {
  display: flex;
  color: var(--clr-primary-white);
  font-family: var(--font-poppins);
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  gap: 20px;
  text-align: center;
  margin-bottom: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.right-area .genre-container::-webkit-scrollbar {
  display: none;
}
.right-area .genre-container .genre img {
  width: 160px;
  height: 120px;
  margin-bottom: 10px;
}
.right-area .genre-container .genre {
  position: relative;
  cursor: pointer;
  width: 300px !important;
}
.genre-container .genre .bi-play-circle {
  position: absolute;
  top: 32%;
  left: 42%;
  font-size: 25px;
  color: var(--clr-text-white);
  opacity: 0;
  transition: all ease-in-out 300ms;
}
.genre-container .genre:hover .bi-play-circle {
  opacity: 100%;
}
.right-area .trending-songs {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-bg-nav-ash);
  border-radius: 10px;
  gap: 25px;
  padding: 25px 20px;
}
.right-area .trending-songs img {
  width: 80px;
  height: 80px;
}
.right-area .trending-songs .music-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 20px;
  transition: all ease-in-out 200ms;
}
.right-area .trending-songs .music-item:hover {
  background-color: hsl(0, 0%, 24%);
  border-radius: 40px;
}
.right-area .trending-songs .music-item p {
  display: flex;
  flex-direction: column;
}
.right-area .trending-songs .music-item p span {
  color: var(--clr-secondary-ash);
}
.justify-playbtn {
  display: grid;
  width: 100%;
  align-content: center;
  position: relative;
}
.trending-songs .justify-playbtn .bi-play-circle-fill {
  position: absolute;
  color: var(--clr-text-white);
  fill: var(--clr-secondary-purple);
  font-size: 30px;
  right: 0;
  margin-right: 10px;
}
/* RIGHT AREA LIGHT MODE */
.right-area.light {
  background-color: var(--clr-bg-lightmode-ash);
  color: var(--clr-text-black);
}
.right-area.light .user-info button {
  color: var(--clr-bg-nav-ash);
}
.right-area.light .heading-flex h2,
.right-area.light .genre-container {
  color: var(--clr-text-black);
}

.right-area.light .trending-songs {
  color: var(--clr-text-black);
  background-color: var(--clr-primary-white);
}
.right-area.light .trending-songs .music-item:hover {
  background-color: #2626263b;
}
